.tabella-ruffini {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    margin-top: 15px;
}

.tabella-ruffini td {
    width: 70px;
    height: 70px;
    margin: 0 !important;
    text-align: center;
    border: none;
    float: none;
}

.tabella-disequazione td, .tabella-disequazione th {
    margin: 0 !important;
    width: 100px !important;
}

.tabella-disequazione th {
    height: 50px !important;
}

.tabella-disequazione th {
    border-bottom: 2px solid #000 !important;
}

.tabella-disequazione th:last-child {
    border-bottom: 2px dotted #000 !important;
}

.tabella-disequazione th.th-numero {
    padding: 0 !important;
}

.tabella-disequazione th.th-numero .MathJax_Display {
    text-align: left !important;
}

.tabella-disequazione td.td-border-left {
    border-left: 2px dotted #000;
}

.circle {
    display:block;
    height:50px;
    width:50px;
    border-radius:50%;
    border:5px solid #000;
    margin:auto;
    color:#fff;
    line-height:40px;
    text-align:center;
    font-size: 25px;
    font-weight: bold;
}

.circle-positive {
    background-color:#61A946;
}

.circle-negative {
    background-color:#DD4B44;
}

.tabella-ruffini td:first-child {
    border-right: 1px solid #fff !important;
}

.tabella-ruffini td:last-child {
    border-left: 1px solid #fff !important;
}

.tabella-ruffini tr.somme-ruffini {
    border-top: 1px solid #fff;
}

td.spazio-sistema {
    width: 50px;
}

td.graffa-sistema {
    border-style: solid;
    border-width: 1px 0 1px 20px;
    border-image: url('../images/parentesiGraffa.png') 1 150 stretch;
    padding-left: 0.5em;
}

#grafico {
    height: 600px;
    width: 100%;
}